{% extends "accounts/base.html" %}

{% load static %}
{% block title %}Login - X-Crewter{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-code-block-bg py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div class="flex flex-col items-center">
            <div class="h-40 w-auto">
                <img src="{% static 'images/logo.png' %}" alt="X-Crewter Logo" class="h-32 max-w-[300px] w-auto mx-auto">
            </div>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-primary-text">
                Sign in to your account
            </h2>
        </div>
        <form class="mt-8 space-y-6" action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="remember" value="true">
            <div class="rounded-md shadow-sm -space-y-px">
                <div>
                    <label for="email" class="sr-only">Email address</label>
                    <input id="email" name="email" type="email" autocomplete="email" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-secondary-text placeholder-secondary-text text-primary-text rounded-t-md focus:outline-none focus:ring-accent-cta focus:border-accent-cta focus:z-10 sm:text-sm bg-code-block-bg" placeholder="Email address">
                </div>
                <div>
                    <label for="password" class="sr-only">Password</label>
                    <input id="password" name="password" type="password" autocomplete="current-password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-secondary-text placeholder-secondary-text text-primary-text rounded-b-md focus:outline-none focus:ring-accent-cta focus:border-accent-cta focus:z-10 sm:text-sm bg-code-block-bg" placeholder="Password">
                </div>
            </div>

            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 accent-cta focus:ring-accent-cta border-secondary-text rounded bg-primary-text">
                    <label for="remember-me" class="ml-2 block text-sm text-primary-text">
                        Remember me
                    </label>
                </div>

                <div class="text-sm">
                    <a href="#" class="font-medium text-accent-cta hover:text-accent-cta">
                        Forgot your password?
                    </a>
                </div>
            </div>

            <div>
                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-primary-text bg-accent-cta hover:bg-accent-cta focus:outline-none focus:ring-2 focus:ring-offset-2 focus:bg-accent-cta">
                    <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                        <!-- Heroicon name: solid/lock-closed -->
                        <svg class="h-5 w-5 text-accent-cta group-hover:text-accent-cta" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                        </svg>
                    </span>
                    Sign in
                </button>
            </div>
        </form>

        <div class="text-center">
            <p class="text-sm text-secondary-text">
                Don't have an account?
                <a href="{% url 'accounts:register' %}" class="font-medium text-accent-cta hover:text-accent-cta">
                    Sign up
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}